# Project: Dead Duck {change name}
## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
# Introduction

# Goal
* Map band recovery locations.
* make pretty map

# Strategy
        
* Aggregate ducks to named grid squares
* Generate polygon for each grid
* Map grid squares 
* Make Choropleth map
* tweek until it looks good

<a id='wrangling'></a>
# Data Wrangling
> **Strategy**
* use data locally from github repository but plan to move to Alan's google drive where it can be protected

## Access
> **Strategy**
* Make CSV of HarDev.csv
* Open and look at data

In [6]:
import pandas as pd
import numpy as np

file_name = 'HardDev.csv'
# Configure Constants
# plan to move to a json configuration file, and use pycharm to edit ... make the page easier to read
const = { 
    'references': {
        'hardev':{
        
            'type': 'data',
            'title': 'Ducks',
            'provider':'Alan Leach',
            'period': (0,0),         
            'website':'',
            'url':'',
            'local': 'hardev.csv',
            'exports':{ 
                'condensed': '<csv_output_filename>', 
                'fields': [
                    {'field_in': '<col-name>','field_out':'<col-name>', 'function':None},
                ]
            },
            'transforms':{ # replace this further down the page
                
            }
        }
    }
} 

df = pd.read_csv( const['references']['hardev']['local'] )

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55912 entries, 0 to 55911
Data columns (total 19 columns):
METAL                  55912 non-null int64
BAND                   55912 non-null object
SEX                    55912 non-null object
BANDEDYEAR             55912 non-null int64
BANDEDAGE              55912 non-null object
BANDEDLOC              55912 non-null object
DIRREC                 681 non-null float64
AGE_CODE               32071 non-null float64
BANDING_MONTH          32071 non-null float64
BANDING_YEAR           32071 non-null float64
LAT_DECIMAL_DEGREES    32071 non-null float64
LON_DECIMAL_DEGREES    32071 non-null float64
GISRLong               3102 non-null float64
GISRLat                3102 non-null float64
R_Day                  3102 non-null float64
R_Month                3102 non-null float64
R_Year                 3102 non-null float64
RRegion__STA           3102 non-null object
RRegion__State         3102 non-null object
dtypes: float64(11), int64(2), object(6)
memory usage: 8.1+ MB

In [8]:
df.head()

,METAL,BAND,SEX,BANDEDYEAR,BANDEDAGE,BANDEDLOC,DIRREC,AGE_CODE,BANDING_MONTH,BANDING_YEAR,LAT_DECIMAL_DEGREES,LON_DECIMAL_DEGREES,GISRLong,GISRLat,R_Day,R_Month,R_Year,RRegion__STA,RRegion__State
0,19872235,6T7G,F,2013,L,COL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,19879061,08LG,M,2013,A,COL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19879606,0A6G,F,2013,A,COL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,19879610,09SG,F,2013,L,COL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,19879611,08GG,F,2013,L,COL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
pi = np.pi; nan = np.nan
##Creates a df with only recovered birds
df_dead = df.query('GISRLong > @pi')
df_dead.info()
df_dead.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33 entries, 181 to 54765
Data columns (total 19 columns):
METAL                  33 non-null int64
BAND                   33 non-null object
SEX                    33 non-null object
BANDEDYEAR             33 non-null int64
BANDEDAGE              33 non-null object
BANDEDLOC              33 non-null object
DIRREC                 2 non-null float64
AGE_CODE               26 non-null float64
BANDING_MONTH          26 non-null float64
BANDING_YEAR           26 non-null float64
LAT_DECIMAL_DEGREES    26 non-null float64
LON_DECIMAL_DEGREES    26 non-null float64
GISRLong               33 non-null float64
GISRLat                33 non-null float64
R_Day                  33 non-null float64
R_Month                33 non-null float64
R_Year                 33 non-null float64
RRegion__STA           33 non-null object
RRegion__State         33 non-null object
dtypes: float64(11), int64(2), object(6)
memory usage: 5.2+ KB

,METAL,BAND,SEX,BANDEDYEAR,BANDEDAGE,BANDEDLOC,DIRREC,AGE_CODE,BANDING_MONTH,BANDING_YEAR,LAT_DECIMAL_DEGREES,LON_DECIMAL_DEGREES,GISRLong,GISRLat,R_Day,R_Month,R_Year,RRegion__STA,RRegion__State
181,105701170,LH1W,F,1986,L,TUT,NaN,NaN,NaN,NaN,NaN,NaN,178.62500,64.59167,28.0,5.0,2007.0,USSR,Russia
1043,134704657,GGZY,M,1987,A,TUT,NaN,NaN,NaN,NaN,NaN,NaN,44.58333,57.75000,51.0,7.0,1996.0,USSR,Russia
1248,134707237,AANG,M,1990,L,TES,NaN,4.0,8.0,1990.0,70.41667,-150.58333,170.08333,66.25000,99.0,93.0,2000.0,USSR,Russia
1386,134707380,A80G,M,1990,L,TES,NaN,4.0,8.0,1990.0,70.41667,-150.58333,177.41667,64.75000,99.0,5.0,1995.0,USSR,Russia
4877,134717275,92KY,F,1991,L,TUT,NaN,4.0,7.0,1991.0,61.25000,-165.58333,177.58333,64.41667,27.0,5.0,2001.0,USSR,Russia

In [10]:
# bounding rectangles
map_grid = {}
limit = 0
i = 0
for index, row in df_dead.iterrows():
    grid_name = '{}_{}'.format(int(row['LAT_DECIMAL_DEGREES']),int(row['LON_DECIMAL_DEGREES'])) 
    if not grid_name in map_grid:
        map_grid[grid_name] = 1
    else:
        map_grid[grid_name] += 1
        
    if limit > 0:
        i += 1    
    if limit > 0 and i > limit:
        break
    
print('map_grid: ', map_grid) 

print('map grids with ducks: ', len(map_grid))

ValueError: cannot convert float NaN to integer

<a id='eda'></a>
# Exploratory Data Analysis
> **Strategy**
* ??

<a id='conclusions'></a>
# Conclusions