# Project: Dead Duck {change name}
## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
# Introduction

# Goal
* Map band recovery locations.
* make pretty map

# Strategy
        
* Aggregate ducks to named grid squares
* Generate polygon for each grid
* Map grid squares 
* Make Choropleth map
* tweek until it looks good

<a id='wrangling'></a>
# Data Wrangling
> **Strategy**
* use data locally from github repository but plan to move to Alan's google drive where it can be protected

## Access
> **Strategy**
* Make CSV of HarDev.csv
* Open and look at data

In [1]:
import pandas as pd
import numpy as np

file_name = 'HardDev.csv'
# Configure Constants
# plan to move to a json configuration file, and use pycharm to edit ... make the page easier to read
const = { 
    'references': {
        'hardev':{
        
            'type': 'data',
            'title': 'Ducks',
            'provider':'Alan Leach',
            'period': (0,0),         
            'website':'',
            'url':'',
            'local': 'hardev.csv',
            'exports':{ 
                'condensed': '<csv_output_filename>', 
                'fields': [
                    {'field_in': '<col-name>','field_out':'<col-name>', 'function':None},
                ]
            },
            'transforms':{ # replace this further down the page
                
            }
        }
    }
} 

df = pd.read_csv( const['references']['hardev']['local'] )

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55912 entries, 0 to 55911
Data columns (total 19 columns):
METAL                  55912 non-null int64
BAND                   55912 non-null object
SEX                    55912 non-null object
BANDEDYEAR             55912 non-null int64
BANDEDAGE              55912 non-null object
BANDEDLOC              55912 non-null object
DIRREC                 681 non-null float64
AGE_CODE               32071 non-null float64
BANDING_MONTH          32071 non-null float64
BANDING_YEAR           32071 non-null float64
LAT_DECIMAL_DEGREES    32071 non-null float64
LON_DECIMAL_DEGREES    32071 non-null float64
GISRLong               3102 non-null float64
GISRLat                3102 non-null float64
R_Day                  3102 non-null float64
R_Month                3102 non-null float64
R_Year                 3102 non-null float64
RRegion__STA           3102 non-null object
RRegion__State         3102 non-null object
dtypes: float64(11), int64(2), object(6)
memory usage: 8.1+ MB

In [3]:
df.head()

,METAL,BAND,SEX,BANDEDYEAR,BANDEDAGE,BANDEDLOC,DIRREC,AGE_CODE,BANDING_MONTH,BANDING_YEAR,LAT_DECIMAL_DEGREES,LON_DECIMAL_DEGREES,GISRLong,GISRLat,R_Day,R_Month,R_Year,RRegion__STA,RRegion__State
0,19872235,6T7G,F,2013,L,COL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,19879061,08LG,M,2013,A,COL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19879606,0A6G,F,2013,A,COL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,19879610,09SG,F,2013,L,COL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,19879611,08GG,F,2013,L,COL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
pi = np.pi; nan = np.nan
df_dead = df.query('LAT_DECIMAL_DEGREES > @pi')
df_dead.info()
df_dead.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32071 entries, 255 to 55911
Data columns (total 19 columns):
METAL                  32071 non-null int64
BAND                   32071 non-null object
SEX                    32071 non-null object
BANDEDYEAR             32071 non-null int64
BANDEDAGE              32071 non-null object
BANDEDLOC              32071 non-null object
DIRREC                 353 non-null float64
AGE_CODE               32071 non-null float64
BANDING_MONTH          32071 non-null float64
BANDING_YEAR           32071 non-null float64
LAT_DECIMAL_DEGREES    32071 non-null float64
LON_DECIMAL_DEGREES    32071 non-null float64
GISRLong               1832 non-null float64
GISRLat                1832 non-null float64
R_Day                  1832 non-null float64
R_Month                1832 non-null float64
R_Year                 1832 non-null float64
RRegion__STA           1832 non-null object
RRegion__State         1832 non-null object
dtypes: float64(11), int64(2), object(6)
memory usage: 4.9+ MB

,METAL,BAND,SEX,BANDEDYEAR,BANDEDAGE,BANDEDLOC,DIRREC,AGE_CODE,BANDING_MONTH,BANDING_YEAR,LAT_DECIMAL_DEGREES,LON_DECIMAL_DEGREES,GISRLong,GISRLat,R_Day,R_Month,R_Year,RRegion__STA,RRegion__State
255,105706802,N55B,F,1993,L,CAN,NaN,4.0,8.0,1993.0,69.58333,-130.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,105706805,N5HB,F,1993,A,CAN,NaN,6.0,8.0,1993.0,69.58333,-130.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,105706806,N39B,M,1993,A,CAN,NaN,1.0,8.0,1993.0,69.58333,-130.75,-115.91667,30.41667,17.0,11.0,1995.0,MEX,Mexico
258,105706807,N50B,M,1993,L,CAN,NaN,4.0,8.0,1993.0,69.58333,-130.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,105706808,N5EB,F,1993,A,CAN,NaN,6.0,8.0,1993.0,69.58333,-130.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# bounding rectangles
map_grid = {}
limit = 0
i = 0
for index, row in df_dead.iterrows():
    grid_name = '{}_{}'.format(int(row['LAT_DECIMAL_DEGREES']),int(row['LON_DECIMAL_DEGREES'])) 
    if not grid_name in map_grid:
        map_grid[grid_name] = 1
    else:
        map_grid[grid_name] += 1
        
    if limit > 0:
        i += 1    
    if limit > 0 and i > limit:
        break
    
print('map_grid: ', map_grid) 

print('map grids with ducks: ', len(map_grid))

map_grid:  {'69_-130': 1561, '70_-152': 74, '70_-150': 1157, '61_-165': 22471, '69_-103': 82, '70_-149': 4202, '70_-148': 1168, '70_-147': 75, '69_-129': 352, '69_-131': 504, '70_-131': 69, '70_-151': 185, '73_-124': 21, '70_-130': 150}
map grids with ducks:  14

<a id='eda'></a>
# Exploratory Data Analysis
> **Strategy**
* ??

<a id='conclusions'></a>
# Conclusions